.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6200EE;
    height: 7vh;
}
.logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    cursor: default;
}
.logo h1 {
    /* color:rgb(0, 24, 41); */
    color: white;
}
.logo h1::selection{
    color: none;
    background: none;
}
.nav {
    flex-grow: 2;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    list-style: none;
    margin-right: 20px;
}

.navbar li a {
   text-decoration: none;
   color: white;
   font-size: 1.2rem;
   transition: all 0.5s;
}
.navbar li a:hover {
    color: #03DAC6;
}
.navbar li a::selection {
    color: none;
    background: none;
}

.navBarLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: baseline;
}


/* BUTTON DARK THEME / LIGHT THEME */

.btn {
    color: white;
    border: none;
    background-color: rgb(0, 24, 41);
    padding: 8px;
    border-radius: 20px;
    font-size: 1rem;
    transition: all 1s;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: #03DAC6;
}

.btn::selection{
    color: none;
    background: none;
}
.btn:focus {
    border: none;
    outline: none;
}
.darkbtn {
    background-color: white;
    color: #03DAC6;
    padding: 8px;
    border-radius: 20px;
    font-size: 1rem;
    transition: all 1s;
    cursor: pointer;
    border: none;
}
.darkbtn:hover {
    background-color: rgb(0, 24, 41);
    color: white;
}
.darkbtn::selection {
    color: none;
    background: none;
}
.darkbtn:focus {
    border: none;
    outline: none;
}

